/build/tmp
/build/intermediates
/build/generated
/build/outputs/logs
/build/outputs/lint-results-release-fatal_files
/build/outputs/lint-results-release-fatal.html
/build/outputs/lint-results-release-fatal.xml